.oneUnTask{
    display: inline-block;
    margin: 0 auto;
    padding:1rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin: 0.6rem;
    width: 30%;
    height: fit-content;
    box-shadow: 1px 1px 4px 4px rgba(57, 55, 55, 0.350);
} 

.editDotsUn::after{
    cursor: pointer;
    float: right;
    z-index: 10;
    position: relative;
    top: 0;
    right: 0;
    content: '\2807';
    font-size: 20px; 
    transition: 0.5s;     
}

.editDotsUn:hover{
    color: rgb(207, 202, 202);
} 

.restoreDiv{
    background-color: white;
    z-index: 10;
    position: relative;
    text-align: center;
    float: right;
    margin-right: 0.5rem;
    width:30%;
    height:auto;
    font-size: small;
    border-radius: 4px;
}
.restoreDiv div{
    cursor: pointer;
    font-weight: bold;
    transition: 0.6s;
    background-color: rgba(86, 134, 134, 0.746);

} 

.restoreDiv div:hover{
background-color: rgba(160, 187, 187, 0.609);
}