.completedTasksMainDiv{
    text-align: center;
    margin: 0 auto;
}  

.loadingMessageCompleted{
    margin-top: 10rem;
} 

.zeroCompletedMessage{
    margin: 0 auto;
    margin-top: 6rem;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.421);
    cursor: none;
    padding: 4rem;
}
